* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 10px 0;
  /* border: 5px solid; */
  a {
    text-underline-offset: 50px;
  }

  .nav-link:hover {
    color: #1266f1;
    text-decoration: underline;
    text-underline-offset: 51px;
    text-decoration-thickness: 5px;
  }
}

.content {
  background-color: darkslategray;
  min-height: 30vh;
  color: white;
  padding: 2rem 0;
  font-size: 25px;
}

.colLinks {
  background-color: #1266f1;
  height: 20vh;
  display: flex;
  align-items: center;

  p {
    color: white;
  }
}

footer {
  .upperFoot {
    background-image: url(./img/footer-bg.jpg), url(./img/dc-logo-bg.png);
    min-height: 30;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 3rem 0;
  }
  .bottomFoot {
    height: 15vh;

    .btn {
      border-radius: 0;
      background-color: transparent;
    }

    a {
      text-decoration: none;
      font-size: 20px;
    }
  }
}
