* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 10px 0;
  /* border: 5px solid; */
  a {
    text-underline-offset: 50px;
  }

  .nav-link:hover {
    color: #1266f1;
    text-decoration: underline;
    text-underline-offset: 55px;
    text-decoration-thickness: 5px;
  }
}
